@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.menu-sider-web {
  position: fixed;
  right: 0;
  top: 56px;
  min-height: calc(100vh - 56px);
  overflow: hidden;
  background-color: #fff;
  border-bottom-right-radius: $border-radius;
  margin-top: 0 !important;
  @include boxShadowMd();
  @media (min-width: 840px) {
    display: none !important;
  }
  @media (min-width: $media-breakpoint-up-md) {
    top: 61px;
    min-height: calc(100vh - 61px);
  }
  .ant-menu-item-selected {
    background-color: $primary-color-extra-dark !important;
    a {
      color: #fff !important;
    }
  }
  &__item {
    padding-left: 10px !important;
    margin: 0 !important;
    height: 30px !important;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: $font-size-sm;
    width: 100% !important;
    @media (min-width: $media-breakpoint-up-sm) {
      font-size: $font-size-md;
    }
    &:hover,
    &:focus {
      background-color: $primary-color-light !important;
      color: white !important;
    }
    a {
      color: $font-primary !important;
      &:hover,
      &:focus {
        color: $font-primary-dark !important;
      }
    }
    &-social-sider {
      position: absolute;
      bottom: 0;
      margin-left: 60px !important;
      margin: 1.4rem;
    }
  }
}
