@import "../../../../scss/variables";
@import "../../../../scss/tags";

.admin-tags {
  .tag-divider {
    color: $primary-color !important;
  }
  &__add-tag-form {
    .ant-input-group {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .ant-input-affix-wrapper {
        width: 100%;
        max-width: 200px;
      }
      button {
        width: auto;
        background-color: $btn-background-dark;
        border: 1px solid $btn-border-dark;
        box-shadow: $box-shadow-button;
        -moz-box-shadow: $box-shadow-button;
        -webkit-box-shadow: $box-shadow-button;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0 7px;
        span {
            font-size: 1.1em;
        }
        &:hover {
          background-color: $btn-background-dark-hover;
          border: 1px solid $btn-color-border-hover;
          span {
            color: $btn-color-dark-hover !important;
          }
        }
      }
    }
  }
  &__tags {
    > .ant-col {
      margin: 5px 5px;
      > span {
        border-radius: 10px;
        &:hover {
            cursor: pointer;
        }
      }
    }
    @include tagsStyle();
  }
}
