@import "../../../../scss/variables";
@import "../../../../scss/tags";
@import "../../../../scss/mixins";

.admin-tags {
  .tag-divider {
    color: $primary-color !important;
  }
  &__add-tag-form {
    .ant-input-group {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      .ant-input-affix-wrapper {
        width: 100%;
        max-width: 200px;
      }
      button {
        width: auto;
        background-color: #5d718d;
        border: 1px solid #556985;
        @include boxShadowLg();
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        padding: 0 7px;
        span {
            font-size: 1.1em;
        }
        &:hover {
          background-color: #cdd5df;
          border: 1px solid #5d718d;
          span {
            color: #273b56d3 !important;
          }
        }
      }
    }
  }
  &__tags {
    > .ant-col {
      margin: 5px 5px;
      > span {
        border-radius: 10px;
        &:hover {
            cursor: pointer;
        }
      }
    }
    @include tagsStyle();
  }
}
