@import "../../../scss/variables";
@import "../../../scss/mixins";
@import "../../../scss/animations";

.CookieConsent {
  background-color: $primary-color-dark !important;
  display: flex;
  align-items: center !important;
  min-height: 100px;
  @include boxShadowXl();
  div {
    height: 100% !important;
    margin: 0 auto;
    text-align: justify;
    a { color: $secondary-color }
    button {
      color: $font-primary-dark !important;
      border-radius: 7px !important;
      background-color: $secondary-color !important;
      font-weight: bold;
      @include boxShadowXl();
      @include fadeInfinite(0.8, 1, 1s);
      @media(max-width: $media-breakpoint-down-sm) {
        margin-top: 0 !important;
      }
    }
  }
}
