.layout-admin__content {
    .admin-home {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      &__title {
        border-bottom: 1px solid rgba(0, 0, 0, 0.418);
        margin-bottom: 20px;
        h1 {
          font-size: 1.5em;
        }
      }
      &__cookies {
        background-color: rgba(0, 0, 0, 0.089);
        padding: 20px 0;
      }
      &__idb {
        padding: 20px 0;
      }
      button {
        margin: 0 auto;
      }
    }

}
