.admin-courses {
  &__add-course {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
  }

  .courses-list {
    width: 100%;
    .ant-list {
      width: 100%;
      background-color: #fff;
      padding: 5px 10px;
      .ant-list-item {
        &-meta {
          &-content {
            width: 100vw;
            @media (min-width: 559px) {
              width: auto;
            }
          }
          @media (max-width: 559px) {
            text-align: center;
          }
        }
        &-action {
          @media (max-width: 559px) {
            margin: 0 auto;
            margin-top: 15px;
          }
        }
      }
    }
  }
}
