@import "../../../../scss/index.scss";

.my-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
        width: 150px;
        margin-bottom: 15px;
    }

    h4 {
        margin-bottom: 20px;
        color: #fff;
        text-align: center;
    }

    .social-links {
        justify-content: center;
    }
}