@import "../../../scss/index.scss";

.main-title {
  .combined {
    display: flex;
    justify-content: center;
    width: 255px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    @media (max-width: 285px) {
      width: 250px;
    }

    &-wrapper {
      padding: 0;
      height: 250px !important;
      position: relative;
      @media (max-width: $media-breakpoint-down-sm) {
        height: 230px !important;
      }
    }

    &-bar {
      width: 100%;
      height: 2.5px;
      background: $primary-color-dark;
      position: absolute;
      top: 143px;
      @media (max-width: $media-breakpoint-down-sm) {
        top: 141px;
      }
    }

    .title {
      display: flex;
      justify-content: center;
      font-size: 40px;
      padding-top: 30px;
      position: absolute;
      width: 150px;
      // overflow: hidden;
      color: $primary-color-dark;
      @media (max-width: $media-breakpoint-down-sm) {
        font-size: 30px;
        padding-top: 45px;
      }
    }

    .title-2 {
      display: flex;
      justify-content: center;
      font-size: 40px;
      margin: 0;
      padding-top: 75px;
      position: absolute;
      width: 130px;
      // overflow: hidden;
      color: $primary-color-dark;
      @media (max-width: $media-breakpoint-down-sm) {
        font-size: 30px;
        padding-top: 85px;
      }
    }

    .content {
      font-size: 19px;
      text-align: center;
      position: absolute;
      color: $primary-color-extra-dark;
      top: 160px;
      // margin: 0 auto;
      // padding: 0;
      @media (max-width: $media-breakpoint-down-sm) {
        font-size: 16px;
        top: 155px;
      }
    }
  }
  
}
