@import '../../../scss/index.scss';

.error404 {
    .ant-result-extra {
        button {
            background-color: $btn-background-dark;
            border: 1px solid $btn-border-dark;
            box-shadow: $box-shadow-button;
            -moz-box-shadow: $box-shadow-button;
            -webkit-box-shadow: $box-shadow-button;
            &:hover {
                background-color: $btn-background-dark-hover;
                border: 1px solid $btn-color-border-hover;
            }
            a {
                &:hover {
                    color: $btn-color-dark-hover;
                }
            }
        }
    }
}