@import "../../../scss/mixins";
@import "../../../scss/variables";

.banner-last-project {
  margin: 0 auto;
  max-width: 880px;
  padding: 0 20px;
  margin-top: 20px;
  margin-bottom: 30px;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.295);
  padding: 20px 0;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  @media (min-width: $media-breakpoint-up-md) {
    margin-bottom: 50px;
    background-color: inherit;
    -webkit-box-shadow: inherit;
    -moz-box-shadow: inherit;
    box-shadow: inherit;
  }
  &__title {
    text-align: center;
    h1 {
      @include titleH1();
      margin-bottom: 15px;
      text-transform: uppercase;
      @media (min-width: $media-breakpoint-up-md) {
        margin-bottom: 20px;
      }
    }
  }
  &__image {
    max-width: 340px;
    padding: 10px;
    @media (min-width: $media-breakpoint-up-md) {
      padding: 0;
      border: 1px solid rgba(152, 152, 152, 0.486);
      border-right: 0;
      border-radius: 8px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
    img {
      max-width: 360px;
      border-radius: 5px;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
  }
  &__content {
    display: grid;
    padding: 5px 0;
    max-width: 450px;
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    @media (min-width: 840px) {
    }
    @media (min-width: $media-breakpoint-up-md) {
      background-color: rgba(255, 255, 255, 0.418);
      padding: 0 15px;
      border: 1px solid rgba(152, 152, 152, 0.486);
      border-left: 0;
      -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
      box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
    }
    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      @media (min-width: $media-breakpoint-up-md) {
        justify-content: flex-start;
      }
      h2 {
        margin: 0;
        padding: 0;
        @include titleH2();
        color: $font-dark-primary;
        margin-top: 10px;
        margin-bottom: 5px;
      }
    }
    &-text {
      text-align: justify;
      display: flex;
      align-items: center;
      p {
        @include p();
        padding: 0 15px;
        margin-bottom: 0;
        text-indent: 10px;
        @media (min-width: $media-breakpoint-up-md) {
          margin-bottom: 10px;
          padding: 0;
        }
      }
    }
    &-link {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 10px;
      @media (min-width: $media-breakpoint-up-md) {
        justify-content: flex-start;
      }
    }
  }
}

.banner-last-project__divider {
  margin: 30px;
  @media (min-width: $media-breakpoint-up-md) {
    margin-top: 40px;
  }
  @media (min-width: $media-breakpoint-up-lg) {
    visibility: hidden;
    margin: 15px;
  }
}
