@import "../../../scss/index.scss";

.menu-top-web {
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: flex-start;

  li {
    border: 0 !important;
    a {
      &:focus,
      &:active,
      &:focus {
        border: 0 !important;
      }
    }
  }

  &__logo {
    top: 0 !important;
    margin: 0 !important;
    padding: 0 !important;
    a {
      &:focus,
      &:active,
      &:focus {
        border: 0 !important;
      }
    }
    img {
      margin: 0;
      margin-left: 3px;
      padding: 7px;
      height: 55px;
      @media (min-width: $media-breakpoint-up-md) {
        height: 60px;
      }
      @media (min-width: $media-breakpoint-up-lg) {
        height: 65px;
      }
      @media (min-width: $media-breakpoint-up-xl) {
        height: 70px;
      }
    }
  }

  &__item {
    a {
      color: #fff !important;
      font-weight: bold;
      &:hover {
        border-bottom: 1px solid $primary-color-light !important;
      }
    }
    @media (min-width: $media-breakpoint-up-md) {
      font-size: $font-size-md;
    }
    @media (max-width: $media-breakpoint-down-md) {
      display: none !important;
    }
    &-social {
      position: absolute !important;
      right: 0 !important;
      top: 17px !important;
      @media (max-width: $media-breakpoint-down-md) {
        display: none !important;
      }
      @media (min-width: $media-breakpoint-up-lg) {
        top: 19px !important;
      }
      @media (min-width: $media-breakpoint-up-xl) {
        top: 22px !important;
      }
    }
    &.ant-menu-item-selected {
      a {
        border-bottom: 1px solid $primary-color-light !important;

        &:focus,
        &:active,
        &:focus {
          border-bottom: 1px solid $primary-color-light !important;
        }
      }
    }
  }

  &__menu {
    position: absolute;
    right: 0;
    margin-top: -18px !important;
    display: flex;
    font-size: 1.9em;
    color: #fff;
    &:hover,
    &:focus {
      color: #fff;
    }
    @media (min-width: $media-breakpoint-down-md) {
      display: none !important;
    }
  }
}
