@import "../../scss/variables";
@import "../../scss/mixins";

.privacy-policy {
  max-width: 1000px;
  margin: 0 auto;
  padding: 15px;
  h1 {
    text-align: center;
    @include titleH1();
    color: var(--t-primary-color-dark);
  }
  h2 {
    color: var(--t-primary-color-dark);
  }
  p {
    color: var(--t-primary-color);
    text-align: justify;
  }
  li {
    color: var(--t-primary-color);
    &::marker {
      color: var(--t-primary-color-dark);
      font-size: 1.2em;
    }
  }
}
