@import '../../../scss/index.scss';

.admin-sider {
    position: fixed;
    left: 0;
    top: 65px;
    height: 100vh;
    overflow: hidden;
}

// .ant-layout-sider-below {
//     min-width: 135px;
//     width: 135px;
// }

// .ant-layout-sider-zero-width {
//     min-width: 0 !important;
//     width: 0 !important;
// }