.admin-sider {
  position: fixed;
  left: 0;
  top: 65px;
  height: 100vh;
  overflow: hidden;
  &__tag {
    position: absolute;
    right: 0;
    margin-top: 8px;
    color: #fff;
    background-color: red;
    border-radius: 15px;
  }
}
