@import '../../../scss/index.scss';

.admin-sider {
    position: fixed;
    left: 0;
    top: 65px;
    height: 100vh;
    overflow: auto;
}

.ant-layout-sider-below {
    min-width: 135px !important;
    width: 135px !important;
}

.ant-layout-sider-zero-width {
    min-width: 0 !important;
    width: 0 !important;
}