@import "../../../scss/variables";
@import "../../../scss/mixins";

:root[data-theme="light"] {
  --t-pagination-desktop-bg: #fff;
  --t-pagination-desktop-bg-hover: var(--primary-color);
  --t-pagination-desktop-bg-selector: var(--primary-color-light);
  --t-pagination-desktop-color: var(--primary-color);
  --t-pagination-desktop-border: var(--primary-color);
}
:root[data-theme="dark"] {
  --t-pagination-desktop-bg: var(--primary-color);
  --t-pagination-desktop-bg-hover: var(--primary-color-dark);
  --t-pagination-desktop-bg-selector: var(--primary-color-dark);
  --t-pagination-desktop-color: #fff;
  --t-pagination-desktop-border: var(--primary-color-dark);
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-bottom: 25px;
  @media (min-width: $media-breakpoint-up-sm) {
    margin-bottom: 30px;
  }
  @media (min-width: $media-breakpoint-up-md) {
    margin-bottom: 20px;
  }
  @media (min-width: $media-breakpoint-up-lg) {
    margin-bottom: 40px;
  }
  .ant-pagination {
    &-item {
      border: 1px solid var(--t-pagination-desktop-border);
      border-radius: 50%;
      @media (min-width: $media-breakpoint-up-sm) {
        @include boxShadowMd();
        background-color: var(--t-pagination-desktop-bg);
        &:hover {
          background-color: var(--t-pagination-desktop-bg-hover);
          color: var(--t-pagination-desktop-color-hover);
        }
      }
      &:hover {
        border: 1px solid var(--primary-color-dark);
        color: $primary-color;
      }
      & > a {
        color: var(--t-primary-color);
        @media (min-width: $media-breakpoint-up-sm) {
          &:hover {
            color: #fff;
          }
        }
      }
      &-active {
        border: 1px solid var(--primary-color-dark);
        background-color: var(--t-pagination-desktop-bg-hover);
        & > a {
          color: #fff;
          &:hover {
            color: #fff;
            cursor: progress;
          }
        }
      }
      &-ellipsis {
        color: var(--t-primary-color) !important;
      }
    }
    &-prev,
    &-next {
      & > button {
        color: var(--t-primary-color);
        border: 1px solid var(--t-pagination-desktop-border);
        font-size: 1em;
        border-radius: 50% !important;
        background-color: var(--primary-color-light);
        @media (min-width: $media-breakpoint-up-sm) {
          color: var(--primary-color);
          @include boxShadowMd();
        }
        &:hover {
          color: var(--t-pagination-desktop-color);
          border: 1px solid var(--primary-color-dark);
          background-color: var(--t-pagination-desktop-bg-hover);
        }
      }
    }
    &-disabled {
      display: none;
    }
  }

  .ant-select {
    &-selector {
      color: var(--t-primary-color);
      border-radius: 15px !important;
      background-color: var(--t-pagination-desktop-bg) !important;
      border: 1px solid var(--t-pagination-desktop-border) !important;
      &:hover {
        color: var(--primary-color);
        background-color: var(--t-pagination-desktop-bg-selector) !important;
      }
      @media (min-width: $media-breakpoint-up-sm) {
        @include boxShadowMd();
      }
    }
    &-item {
      &-option {
        color: var(--t-pagination-desktop-color) !important;
        background-color: var(--t-pagination-desktop-bg) !important;
        &:hover {
          color: #fff !important;
          background-color: var(--t-pagination-desktop-bg-hover) !important;
        }
        &-selected {
          color: #fff !important;
          background-color: var(--t-pagination-desktop-bg-hover) !important;
        }
      }
    }
    &-selection-item {
      color: var(--t-primary-color) !important;
    }
    &-dropdown {
      background-color: var(--t-pagination-desktop-bg) !important;
      padding: 0;
      border-radius: 5px;
    }
    &-arrow {
      color: var(--t-primary-color);
    }
  }

  .anticon-double-left,
  .anticon-double-right {
    color: var(--t-primary-color) !important;
    &:hover {
      color: #fff !important;
    }
  }
}
