@import "../../../scss/index.scss";

.menu-sider-web {
  position: fixed;
  right: 0;
  top: 70px;
  min-height: calc(100vh - 73px);
  overflow: hidden;
  background-color: #fff;
  border-bottom-right-radius: $border-radius;
  margin-top: 0 !important;
  -webkit-box-shadow: $box-shadow-primary;
  -moz-box-shadow: $box-shadow-primary;
  box-shadow: $box-shadow-primary;
  @media (min-width: $media-breakpoint-down-md) {
    display: none !important;
  }
  .ant-menu-item-selected {
    background-color: $primary-color-extra-dark !important;
    a {
      color: #fff !important;
    }
  }
  &__item {
    padding-left: 5px !important;
    margin: 0 !important;
    height: 30px !important;
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: $defaultFontSize;
    width: 100% !important;
    @media (min-width: $media-breakpoint-up-sm) {
      font-size: $font-size-md;
    }
    a {
      color: $font-medium-primary !important;
    }
    &:first-child {
      margin-top: 2px !important;
    }
    &:hover,
    &:focus {
      background-color: $primary-color-light !important;
      color: white !important;
    }
    a {
      &:hover,
      &:focus {
        color: $font-dark-primary !important;
      }
    }
    &-social-sider {
      position: absolute;
      bottom: 0;
      margin-left: 60px !important;
      margin: 1.4rem;
    }
  }
}
