@import "../../../../scss/variables";

.footer {
  background-color: $primary-color;
  padding: 0;
  padding-bottom: 15px;
  padding-top: 10px;  
  &__content {
    display: flex;
    justify-content: center;
  }
  &__copyright {
    margin-top: 20px;
    .ant-col {      
      color: #fff;
      display: flex;
      justify-content: center;
      text-transform: uppercase;

    }
  }
}
