@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.footer {
  background-color: var(--t-header-footer-bg);
  padding: 0;
  padding-bottom: 15px;
  padding-top: 10px;  
  &__content {
    display: flex;
    justify-content: center;
  }
  &__copyright {
    margin-top: 20px;
    .ant-col {      
      display: flex;
      justify-content: center;
      text-transform: uppercase;
      @include H4();
      color: var(--t-white-lightgrey-color);
    }
  }
}
