@import "../../../scss/variables";
@import "../../../scss/mixins";

.projects-web {
  max-width: 1200px;
  margin: 0 auto;
  &__title {
    @include titleH1();
    text-transform: uppercase;
    text-align: center;
    margin: 20px 0;
  }
}
