@import "../../../scss/variables";
@import "../../../scss/mixins";

.button-go-back {
  &__goBack {
    button {
      background-color: $secondary-color-transparent-light !important;
      border: 0;
      color: $primary-color-dark;
      position: absolute;
      top: 59px;
      left: 0px;
      z-index: 50;
      font-size: 1.2em;
      padding: 0;
      width: 27px;
      height: 27px;
      border-radius: 20px;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      @include boxShadowLg();
      @media (min-width: $media-breakpoint-up-md) {
        top: 68px;
        width: 30px;
        height: 30px;
      }
      @media (min-width: $media-breakpoint-up-lg) {
        top: 74px;
      }
      @media (min-width: $media-breakpoint-up-xl) {
        top: 84px;
      }
      &:hover,
      &:active,
      &:focus {
        color: $primary-color-dark;
        background-color: $secondary-color-transparent !important;
        border: 0 !important;
      }
    }
  }
}
