@import "../../../scss/variables";
@import "../../../scss/mixins";

.about-me {
  &__title {
    @include titleH1();
    text-transform: uppercase;
    text-align: center;
    margin-top: 20px;
  }
}
