@import "../../../../scss/variables";
@import "../../../../scss/mixins";

:root[data-theme="light"] {
  --t-info-banner-bg: #bbcaddb0;
  --t-info-banner-text: var(--primary-color);
}
:root[data-theme="dark"] {
  --t-info-banner-bg: var(--secondary-bg-opacity-7);
  --t-info-banner-text: var(--primary-color-medium-dark);
}
.info-banner {
  min-height: 165px;
  background-color: var(--t-info-banner-bg);
  margin-bottom: 20px;
  &-elem {
    margin-top: 15px;
    text-align: center;
  }
  &-title {
    color: #273b56;
    text-align: center;
    font-size: 58px !important;
    font-weight: 500;
  }
  &-text {
    @include H3();
    color: var(--t-info-banner-text);
  }
}
