@import "../../../scss/variables";

.messages-contact {
  &__header {
    margin-bottom: 20px;
  }
  &__switch {
    display: flex;
    padding: 5px 0;
    > button {
      margin-right: 10px;
    }
  }
  .messages-unread,
  .messages-read {
    background-color: #fff;
    padding: 5px 20px;
    .ant-list-item {
      &:last-of-type {
        border: 0;
      }
      &-meta {
        min-width: 232px;
        &-title {
          color: $font-primary-dark;
          font-weight: 700;
        }
        &-description {
          color: $font-primary;
          font-weight: 500;
          p {
            margin-top: 5px !important;
          }
        }
      }
    }
  }
  .messages-unread {
    &-action {
      margin: 0 auto;
      @media (max-width: 376px) {
        margin-top: 10px;
      }
    }
  }

  .messages-read {
    &-action {
      margin: 0 auto;
      @media (max-width: 439px) {
        margin-top: 10px;
      }
    }
  }
}
