@import "../../../../scss/variables";
@import "../../../../scss/mixins";

.add-edit-course {
  &-form {
    &-course {
      > .ant-col,
      > .ant-input-group {
        margin: 10px 0;
        .ant-input-affix-wrapper,
        .ant-picker {
          padding: 6px 5px;
        }
        .ant-input-number {
          padding: 2px 0;
        }
      }
    }
    > button {
      margin: 0 auto;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color: #5d718d;
      border: 1px solid #556985;
      @include boxShadowMd();
      &:hover {
        background-color: #cdd5df;
        border: 1px solid #5d718d;
        span {
          color: #273b56d3 !important;
        }
      }
    }
  }
  .upload-image {
    text-align: center;
    span {
      color: rgb(100, 100, 100);
      font-size: 0.7em;
    }
  }
}
