@import "../../../../scss/variables";
@import "../../../../scss/mixins";
@import "../../../../scss/animations";

:root[data-theme="light"] {
  --t-contact-checkbox-bg: var(--primary-color);
  --t-contact-checkbox-border: var(--primary-color);
  --t-contact-checkbox-link: var(--primary-color);
}
:root[data-theme="dark"] {
  --t-contact-checkbox-bg: var(--primary-color-dark);
  --t-contact-checkbox-border: var(--color-lightgrey-medium);
  --t-contact-checkbox-link: var(--primary-color-dark);
}
.contact__form {
  margin: 0 auto !important;
  text-align: center;
  max-width: 600px;
  padding: 0 20px;
  padding-top: 0;
  display: flex;
  align-items: center;
  @media (min-width: $media-breakpoint-up-lg) {
    max-width: 1200px;
    margin-top: 10px !important;
  }
  &-column-left,
  &-column-right {
    @media (min-width: $media-breakpoint-up-lg) {
      padding: 10px;
      padding-bottom: 0;
    }
  }
  &-item {
    width: 100% !important;
    text-align: left;
    justify-content: center;
    margin: 0 !important;
    @media (min-width: $media-breakpoint-up-lg) {
      display: inline-flex;
    }
    &-label {
      display: flex;
      margin-top: 5px !important;
      width: 90px;
      text-align: left !important;
      color: var(--t-primary-color-dark) !important;
      font-size: 1.1em;
      font-weight: 500;
      span {
        color: rgba(255, 0, 0, 0.897);
        margin-left: -12px !important;
      }
      padding-bottom: 5px !important;
      @media (min-width: $media-breakpoint-up-lg) {
        padding-bottom: 0 !important;
      }
   
      
    }
  }
  .ant-form-item {
    width: 100% !important;
    margin-bottom: 15px;
    @media (min-width: $media-breakpoint-up-lg) {
      margin-bottom: 20px;
    }
    input,
    textarea {
      margin: 0 !important;
      padding: 5px !important;
      color: $font-primary-extra-dark !important;
      background: var(--t-white-lightgrey-bg);
      border: 0;
      font-size: 1.1em;
      border-radius: 5px;
      @include boxShadowMd();
      &:hover,
      &:active,
      &:focus {
        border: 0 !important;
        @include boxShadowLg();
      }
    }
    textarea {
      text-align: justify;
    }

    .form-validation-error {
      color: #fff !important;
      border: 1px solid red !important;
      background: rgba(255, 0, 0, 0.164);
      &:hover,
      &:focus {
        border: 1px solid red !important;
      }
    }
    .form-validation-success {
      color: $font-primary !important;
      background-color: var(--t-white-lightgrey-bg);
      border: 1px solid #fff !important;
      &:hover,
      &:focus {
        border: 1px solid #fff !important;
      }
    }
  }
  &-button {
    text-align: center;
    @media (min-width: $media-breakpoint-up-sm) {
      text-align: right;
    }
    @media (min-width: $media-breakpoint-up-lg) {
      padding-right: 20px !important;
    }
    &-submit,
    &-reset {
      cursor: pointer;
      @include boxShadowMd();
    }
    &-submit {
      width: 150px;
      margin-left: 5px;
      @include buttonPrimary();
    }
    &-reset {
      margin-right: 5px;
      color: $font-primary-extra-dark;
      @include fadeIn();
      @include buttonPrimaryLight();
    }
  }
  &-checkbox {
    text-align: center;
    @media (min-width: $media-breakpoint-up-sm) {
      text-align: right;
    }
    @media (min-width: $media-breakpoint-up-lg) {
      padding-right: 15px !important;
    }
    .ant-checkbox-checked .ant-checkbox-inner {
      background-color: var(--t-contact-checkbox-bg) !important;
      border: 1px solid var(--t-contact-checkbox-bg) !important;
      box-shadow: inherit;
    }
    .ant-checkbox-input:focus + .ant-checkbox-inner,
    .ant-checkbox-wrapper:hover .ant-checkbox-inner,
    .ant-checkbox:hover .ant-checkbox-inner {
      border: 1px solid var(--t-contact-checkbox-bg) !important;
      box-shadow: inherit !important;
    }
    .ant-checkbox-inner {
      background-color: var(--t-white-lightgrey-bg) !important;
      border: 1px solid var(--t-contact-checkbox-border);
      box-shadow: inherit !important;
    }
    .ant-checkbox::after {
      border: none !important;
      box-shadow: inherit !important;
    }
    .ant-input__checkbox {
      color: var(--t-primary-color-dark);
      font-size: 11px;
      font-weight: 700;
      @media (min-width: $media-breakpoint-up-sm) {
        font-size: 12px;
      }
      a {
        color: var(--t-contact-checkbox-link);
      }
    }
  }
}
