@import "../../../scss/variables";

.register-form {
  text-align: left;
  
  .ant-form-item {
    &:nth-child(3),
    &:last-of-type {
      margin: 0;
    }
  }
  
  .ant-checkbox-wrapper {
    margin-top: 20px !important;
    span {
      color: $primary-color-dark;
      a {
        color: $primary-color !important;  
      }
    }
  }
  
  &__input {
    padding: 0;
    .ant-input-prefix {
      padding-left: 5px;
      i {
        font-size: 0em + 22px / $font-size-sm;
      }
    }
    
    input {
      font-size: 0em + 20px / $font-size-sm;
      padding: 7px 7px 7px 14px !important;
      &:focus {
        border-color: $primary-color;
        box-shadow: none;
      }
      @media (min-width: $media-breakpoint-up-md) {
        font-size: 0em + 21px / $font-size-sm;
      }
    }
  }
  
  &__button {
    width: 100%;
    font-size: 0em + 22px / $font-size-sm;
    background-color: $primary-color;
    color: $font-light;
    height: 42px;
    
    &:hover {
      background-color: $primary-color-hover;
      color: $font-light;
    }
    &:focus,
    &:active {
      background-color: $primary-color;
      color: $font-light;
      border: 0;
    }
  }
  .form-validation-error {
    color: $primary-color-dark !important;
    background: rgba(255, 0, 0, 0.164);
  }
}
