@import "../../../../scss/index.scss";

.course-info {
  width: 100% !important;
  height: 100%;
  margin: 0 auto;
  &__title {
    width: 100% !important;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;    
    h1 {
      @include titleH1();
      padding-top: 10px;
      padding-left: 50px;
      padding-right: 50px;
      @media (min-width: $media-breakpoint-up-lg) {
        font-size: 2em;
      }
    }
  }

  &__linkPrevMobile,
  &__linkNextMobile {
    position: fixed;
    z-index: 100;
    bottom: 20px !important;
    border-radius: 20px;
    @include boxShadowLg();
    button {
      width: 50px;
      height: 40px;
      @include buttonPrimary();      
      background-color:  #273b56ab;
      padding: 0 9px;
      border-radius: 20px;
      span {
        font-size: 1.3em;
      }
      &:active,
      &:focus,
      &:hover {
        background-color: $primary-color !important;
        border: 1px solid $primary-color-dark;
        color: #fff;
        &:hover {
          color: $primary-color;
          border: 1px solid $primary-color;
          background-color: $primary-color-light !important;
        }
      }
    }
  }
  &__linkPrevMobile {
    left: 20px;
  }

  &__linkNextMobile {
    right: 20px;
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    @include fadeIn();
    @media (min-width: $media-breakpoint-up-md) {
      margin-top: 8px;
      img {
        width: 100% !important;
        border-radius: 5px;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    &-duration {
      color: $primary-color-dark;
      font-weight: bold;
      padding: 10px 15px;
      max-width: 385px;
    }
    &-date {
      color: $primary-color-dark;
      font-weight: bold;
      text-align: right;
      padding: 10px 15px;
      max-width: 385px;
    }
  }

  &__button {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;

    &-link {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 10px;
      padding-bottom: 15px;
      margin-bottom: 15px;
      font-weight: bold;
      a {
        display: flex;
        align-items: center;
        color: $primary-color-dark;
      }
      span {
        padding: 4px;
        font-size: 1.4em;
      }
      &:hover {
        span {
          color: $primary-color;
        }
      }
    }
  }

  &__description {
    max-width: 700px;
    margin: 0 auto;
    p {
      padding: 10px 20px;
      text-indent: 15px;
      text-align: justify;
      @include p();

    }
    @media (min-width: $media-breakpoint-up-md) {
      font-size: 1.2em;
      padding: 10px 20px;
    }
  }

  &__tags {
    width: 100%;
    margin: 0 auto;
    &-div {
      max-width: 1000px;
      text-align: center;
      @media (min-width: $media-breakpoint-up-sm) {
        margin: 15px auto;
      }
      @media (min-width: $media-breakpoint-up-md) {
        margin: 20px auto;
      }
      > span {
        > span {
          @include boxShadowMd();
          margin: 8px 5px;
          border: 0;
          border-radius: 10px;
          padding: 4px;
          font-size: 1em;
          @media (min-width: $media-breakpoint-up-sm) {
            font-size: 1.1em;
            padding: 5px;
          }
          @media (min-width: $media-breakpoint-up-md) {
            margin: 8px 8px;
          }
        }
      }
      @include tagsStyle();
    }
  }

  &__goBack {
    button {
      background-color: transparent !important;
      border: 0;
      color: $primary-color-dark;
      position: absolute;
      top: 25px;
      left: 5px;
      box-shadow: unset;
      z-index: 50;
      &:hover,
      &:active,
      &:focus {
        color: $primary-color-dark;
        background-color: transparent !important;
        border: 0 !important;
      }
      @media (max-width: $media-breakpoint-up-md) {
        top: 22px;
      }
    }
  }
}
