@import "../../../../scss/index.scss";

html[data-theme="light"] {
  --t-courses-info-btn-next-prev-bg: #273b56ab;
  --t-courses-info-btn-next-prev-color: #fff;
}
html[data-theme="dark"] {
  --t-courses-info-btn-next-prev-bg: var(--secondary-bg-opacity-7);
  --t-courses-info-btn-next-prev-color: var(--primary-bg-dark);
}
.course-info {
  width: 100% !important;
  height: 100%;
  margin: 0 auto;
  &__title {
    width: 100% !important;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    h1 {
      @include titleH1();
      padding-top: 10px;
      padding-left: 30px;
      padding-right: 30px;
      color: var(--t-primary-color-dark);
      @media (min-width: $media-breakpoint-up-lg) {
        font-size: 2em;
      }
    }
  }

  &__linkPrevMobile,
  &__linkNextMobile {
    position: fixed;
    z-index: 100;
    bottom: 40% !important;
    border-radius: 20px;
    @include boxShadowLg();
    button {
      width: 35px;
      height: 70px;
      @include buttonPrimary();
      padding: 0;
      color: var(--t-courses-info-btn-next-prev-color);
      background-color: var(--t-courses-info-btn-next-prev-bg);
      border-radius: 20px;
      span {
        font-size: 1.3em;
      }
      &:active,
      &:focus,
        &:hover {
          background-color: $primary-color !important;
          border: 1px solid $primary-color-dark;
          color: #fff;
          &:hover {
            color: $primary-color;
            border: 1px solid $primary-color;
            background-color: $primary-color-light !important;
          }
        }
    }
  }
  &__linkPrevMobile {
    left: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    button {
      border-left: 0 !important;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &__linkNextMobile {
    right: 0px;  
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    button {
      border-right: 0 !important;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__image {
    width: 100%;
    display: flex;
    justify-content: center;
    @include fadeIn();
    @media (min-width: $media-breakpoint-up-md) {
      margin-top: 8px;
      img {
        width: 100% !important;
        border-radius: 5px;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: center;
    &-duration {
      color: var(--t-primary-color-dark);
      font-weight: bold;
      padding: 10px 15px;
      max-width: 385px;
    }
    &-date {
      color: var(--t-primary-color-dark);
      font-weight: bold;
      text-align: right;
      padding: 10px 15px;
      max-width: 385px;
    }
  }

  &__button {
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    &-link {
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      padding: 10px;
      padding-bottom: 15px;
      margin-bottom: 15px;
      font-weight: bold;
      button {
        @include buttonPrimaryLight();
        @include boxShadowLg();
        align-items: center;
        display: flex;
      }
      span {
        padding-right: 4px;
        font-size: 1.4em;
      }
    }
  }

  &__description {
    max-width: 990px;
    margin: 0 auto;
    p {
      padding: 10px 20px;
      text-indent: 15px;
      text-align: justify;
      @include p();
      color: var(--t-primary-color-dark);
    }
    @media (min-width: $media-breakpoint-up-lg) {
      font-size: 1.1em;
      padding: 10px 20px;
    }
  }

  &__tags {
    width: 100%;
    display: flex;
    justify-content: center;
    &-div {
      max-width: 1000px;
      text-align: center;
      @media (min-width: $media-breakpoint-up-sm) {
        margin: 15px auto;
      }
      @media (min-width: $media-breakpoint-up-md) {
        margin: 20px auto;
      }
      > span {
        > span {
          @include boxShadowMd();
          margin: 8px 5px;
          border: 0;
          border-radius: 10px;
          padding: 4px;
          font-size: 1em;
          @media (min-width: $media-breakpoint-up-sm) {
            font-size: 1.1em;
            padding: 5px;
          }
          @media (min-width: $media-breakpoint-up-md) {
            margin: 8px 8px;
          }
          border-radius: 50px;
        }
      }
      @include tagsStyle();
    }
  }
}
