@import "./scss/variables";
@import "./scss/mixins";
@import "./scss/animations";

.success {
  background-color: $background-success;
}

.error {
  background-color: $background-error;
}

.ant-message-notice {
  &:first-child {
    margin-top: 15px;
  }
  &-content {
    background-color: $primary-color-dark;
    border: 2px solid $primary-color-extra-dark;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    @include boxShadowXl();
  }
}

.ant-notification {
  display: flex;
  justify-content: center;
  width: 100% !important;
  margin: 0 auto !important;
  &-notice {
    text-align: left;
    margin-top: 10px;
    padding: 0;
    padding-top: 7px;
    padding-left: 7px;
    background-color: $primary-color-dark;
    border: 2px solid $primary-color-extra-dark;
    border-radius: 5px;
    @include boxShadowLg();
    @media (min-width: $media-breakpoint-up-md) {
      margin-top: 20px;
    }
    &-message {
      color: #fff !important;
      font-size: 1em !important;
      padding-top: 2px;
    }
  }
  &-close-x {
    color: $secondary-color !important;
    position: absolute !important;
    top: -7px !important;
    right: -15px;
  }
}

.offline-message {
  position: fixed;
  left: calc(50% - 42px) !important;
  top: 45px;
  z-index: 101;
  color: $font-primary-extra-dark;
  background-color: $primary-color-light;
  font-weight: bold;
  border: 2px solid $primary-color-dark;
  border-radius: 10px;
  @include boxShadowLg();
  @include fadeInfinite(0.9, 1, 1s);
  @media (min-width: $media-breakpoint-up-md) {
    top: 50px;
  }
  @media (min-width: $media-breakpoint-up-lg) {
    top: 55px;
  }
  @media (min-width: $media-breakpoint-up-xl) {
    top: 60px;
  }
  .anticon-stop {
    color: red;
  }
}

.offline-message-alert {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding-right: 85px !important;
  font-size: 0.9em;
  z-index: 100;
  border: 0;
  border-top: 2px solid $primary-color;
  background-color: $primary-color-light;
  @include boxShadowLg();
  .ant-alert-message {
    color: $font-primary-extra-dark !important;
    font-weight: 500;
  }
  .ant-alert-close-icon {
    // padding-top: 5px !important;
    span {
      color: $font-primary-dark;
    }
  }
}