@import "./scss/variables";
@import "./scss/mixins"; 

.success {
  background-color: $background-success;
}

.error {
  background-color: $background-error;
}

.ant-message-notice {
  &:first-child {
    margin-top: 15px;
  }
  &-content {
    background-color: $primary-color-dark;
    border: 2px solid $primary-color-extra-dark;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    @include boxShadowXl();
  }
}