@import "./scss/variables";
@import "./scss/mixins";

.success {
  background-color: $background-success;
}

.error {
  background-color: $background-error;
}

.ant-message-notice {
  &:first-child {
    margin-top: 15px;
  }
  &-content {
    background-color: $primary-color-dark;
    border: 2px solid $primary-color-extra-dark;
    color: #fff;
    font-weight: 500;
    border-radius: 5px;
    @include boxShadowXl();
  }
}

.ant-notification {
  display: flex;
  justify-content: center;
  width: 100% !important;
  margin: 0 auto !important;
  &-notice {
    text-align: left;
    margin-top: 10px;
    padding: 0;
    padding-top: 7px;
    padding-left: 7px;
    background-color: $primary-color-dark;
    border: 2px solid $primary-color-extra-dark;
    border-radius: 5px;
    @include boxShadowLg();
    @media (min-width: $media-breakpoint-up-md) {
      margin-top: 20px;
    }
    &-message {
      color: #fff !important;
      font-size: 1em !important;
      padding-top: 2px;
    }
  }
  &-close-x {
    color: $secondary-color !important;
    position: absolute !important;
    top: -7px !important;
    right: -15px;
  }
}
