@mixin fadeIn() {
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  animation: fadeIn 800ms;
}

@mixin blur() {
  @keyframes blur {
    from {
      filter: blur(3px);
      opacity: 0;
    }
    to {
      filter: blur(0);
      opacity: 1;
    }
  }
  animation: blur 0.4s;
}

@mixin slideinLeft() {
  @keyframes slideinLeft {
    from {
      margin-left: 100%;
      width: 200%;
    }
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
  animation: slideinLeft 1s;
}

@mixin slideinRight() {
  @keyframes slideinRight {
    from {
      margin-right: 100%;
      width: 300%;
    }
    to {
      margin-right: 0%;
      width: 100%;
    }
  }
  animation: slideinRight 1s;
}

@mixin acceptButtonBannerCookiesFade() {
  @keyframes slideIn {
    from {
      opacity: 0.5;
    }
    to {
      opacity: 1;
    }
  }
  animation: slideIn 1s infinite alternate;
}
