@mixin buttonPrimary() {
  color: #fff;
  background-color: #5d718d;
  border: 1px solid #556985;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  border-radius: 5px;
  @include boxShadowMd();
  &:focus,
  &:active {
    color: #fff;
    background-color: #5d718d;
    border: 1px solid #556985;
  }
  &:hover {
    color: #273b56d3;
    background-color: #cdd5df;
    border: 1px solid #5d718d;
    @include boxShadowLg();
  }
  @media (min-width: $media-breakpoint-up-xs) {
    font-size: 14px;
  }
  @media (min-width: $media-breakpoint-up-sm) {
    font-size: 15px;
  }
}

@mixin buttonPrimaryLight() {
  color: #273b56d3;
  background-color: #cdd5df;
  border: 1px solid #273b56d3;
  font-weight: bold;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 0.04em;
  border-radius: 5px;
  @include boxShadowMd();
  &:active,
  &:focus {
    color: #273b56d3;
    background-color: #cdd5df;
    border: 1px solid #273b56d3;
  }
  &:hover {
    color: #fff;
    background-color: #273b56;
    border: 1px solid #273b56;
    @include boxShadowLg();
  }
  @media (min-width: $media-breakpoint-up-xs) {
    font-size: 14px;
  }
  @media (min-width: $media-breakpoint-up-sm) {
    font-size: 15px;
  }
}

@mixin titleH1() {
  color: $font-primary-dark;
  font-weight: bold;
  font-size: 1.6em;
  @media (min-width: $media-breakpoint-up-sm) {
    font-size: 1.7em;
  }
  @media (min-width: $media-breakpoint-up-md) {
    font-size: 1.9em;
  }
}

@mixin titleH2() {
  color: $font-primary-dark;
  font-weight: bold;
  font-size: 1.2em;
  @media (min-width: $media-breakpoint-up-sm) {
    font-size: 1.3em;
  }
  @media (min-width: $media-breakpoint-up-md) {
    font-size: 1.4em;
  }
}

@mixin p() {
  color: $primary-color;
  font-size: 1em;
  font-weight: 500;
  @media (min-width: $media-breakpoint-up-sm) {
    font-size: 1.1em;
  }
}

@mixin boxShadowMd() {
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15) !important;
  -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15) !important;
}

@mixin boxShadowLg() {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3) !important;
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3) !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3) !important;
}

@mixin boxShadowXl() {
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5) !important;
  -moz-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5) !important;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.5) !important;
}
