$default-color: #fff;
$default-bg-color: rgb(83, 109, 130);

$laravel-color:#fff;
$laravel-bg-color: rgb(253, 42, 40);

$php-color: #fff;
$php-bg-color: rgb(115, 120, 171);

$symfony-color: #fff;
$symfony-bg-color: rgb(0, 0, 0);

$postman-color: #fff;
$postman-bg-color: rgb(254, 106, 63);

$robo3t-color: #fff;
$robo3t-bg-color: rgb(71, 168, 76);

$javascript-color: #000;
$javascript-bg-color: rgb(236, 225, 74);

$typescript-color: #fff;
$typescript-bg-color: rgb(0, 109, 194);

$react-color: #000;
$react-bg-color: rgb(41, 213, 240);

$angular-color: #fff;
$angular-bg-color: rgb(241, 0, 55);

$nodejs-color: #fff;
$nodejs-bg-color:rgb(0, 120, 26);

$mongodb-color: #fff;
$mongodb-bg-color: rgb(0, 166, 77);

$mongoose-color: #fff;
$mongoose-bg-color: rgb(148, 0, 11);

$html5-color: #fff;
$html5-bg-color: rgb(255, 81, 54);

$css3-color: #fff;
$css3-bg-color: rgb(71, 61, 234);

$mysql-color: rgb(238, 140, 47);
$mysql-bg-color: rgb(0, 94, 135);

$mariadb-color: #000;
$mariadb-bg-color: rgb(195, 149, 110);

$vue-color: rgb(48, 70, 89);
$vue-bg-color: rgb(0, 189, 131);

$sass-color: #fff;
$sass-bg-color: rgb(215, 75, 146);

$ajax-color: #fff;
$ajax-bg-color: rgb(20, 126, 192);