@import "../../../../scss/variables";

.clock__canvas {
  canvas {
    width: 100px;
    border-radius: 50%;
    @media (min-width: $media-breakpoint-up-sm) {
      width: 110px;
    }
    @media (min-width: $media-breakpoint-up-md) {
      width: 130px;
    }
  }
}
