@import "../scss/variables";
@import "../scss/mixins";

.layout-basic {
  background-repeat: no-repeat;
  background-position: 1% 1%;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-attachment: fixed;
  background-color: rgb(218, 218, 218);
  &__header {
    position: fixed;
    z-index: 100;
    width: 100%;
    .ant-menu-horizontal {
      border-bottom: 0 !important;
      border-top: 2px solid $primary-color-dark;
      @include boxShadowXl();
    }
  }
  &__content {
    min-height: 102vh;
    padding-top: 60px;
    @media (min-width: $media-breakpoint-up-md) {
      padding-top: 75px;
    }
    @media (min-width: $media-breakpoint-up-lg) {
      padding-top: 80px;
    }
    @media (min-width: $media-breakpoint-up-xl) {
      padding-top: 90px;
    }
    @media (min-width: $media-breakpoint-up-xxl) {
      width: 85vw;
      margin: 0 auto;
      padding-top: 100px;
    }
  }

  &__footer {
    font-weight: bold;
    @include boxShadowXl();
    min-height: 300px !important;
    @media (min-width: $media-breakpoint-up-xxl) {
      width: 90vw;
      margin: 0 auto;
    }
    .ant-layout-footer {
      @media (min-width: $media-breakpoint-up-xxl) {
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
    }
  }
}
