@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";
@import "../../../../../scss/animations";

:root[data-theme="light"] {
  --t-contact-me-checkbox-bg: var(--primary-color-dark);
  --t-contact-me-checkbox-link: var(--primary-color-dark);
}
:root[data-theme="dark"] {
  --t-contact-me-checkbox-bg: var(--primary-color);
  --t-contact-me-checkbox-link: var(--primary-color-medium);
}
.footer__contact-me {
  position: relative;
  max-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: $media-breakpoint-down-sm) {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 2px;
  }
  .ant-form-item {
    letter-spacing: 0.05em;
    border-radius: 5px;
    border: 0;
    &-input-content {
      &:hover,
      &:active,
      &:focus {
        @include boxShadowLg();
      }
    }
    input,
    textarea {
      border-radius: 5px;
      color: $font-primary-extra-dark;
      font-size: 1.1em;
      border: 1px solid #fff !important;
      background: var(--t-white-lightgrey-bg);
      &:hover,
      &:active,
      &:focus {
        @include boxShadowLg();
        border: 1px solid #fff !important;
      }
    }
    input::placeholder,
    textarea::placeholder {
      color: var(--primary-color-medium);
    }
    input {
      padding: 3px 0;
      padding-left: 8px;
    }
    textarea {
      border-radius: 5px;
      margin: 0;
      padding: 4px;
      padding-left: 10px;
    }
    .form-validation-error {
      color: #fff !important;
      border: 1px solid red !important;
      background: rgba(255, 0, 0, 0.164);
      &:hover,
      &:focus {
        border: 1px solid red !important;
      }
    }
    .form-validation-success {
      background-color: var(--t-white-lightgrey-bg);
      border: 1px solid #fff !important;
      &:hover,
      &:focus {
        border: 1px solid #fff !important;
      }
    }  
    .ant-input {
      &-affix-wrapper {
        background-color: transparent;
        border: 0;
        border-radius: 5px !important;
        padding: 0px;
        @include boxShadowMd();
        &-textarea-with-clear-btn {
          padding: 0 !important;
        }
      }
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    @include H3();
    color: var(--t-white-lightgrey-color);
    span {
      @include rotateInfiniteAlternate30();
      font-size: 1.5em;
      color: #fff;
    }
  }
  button {
    @include buttonPrimaryLight();
    text-transform: uppercase;
    width: 100%;
    height: 100%;
  }
  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: var(--t-contact-me-checkbox-bg) !important;
    border: 1px solid var(--t-contact-me-checkbox-bg) !important;
    box-shadow: inherit;
  }
  .ant-checkbox-input:focus + .ant-checkbox-inner,
  .ant-checkbox-wrapper:hover .ant-checkbox-inner,
  .ant-checkbox:hover .ant-checkbox-inner {
    border: 2px double var(--t-contact-me-checkbox-bg) !important;
    box-shadow: inherit !important;
  }
  .ant-checkbox-inner {
    background-color: var(--t-white-lightgrey-bg) !important;
  }
  .ant-checkbox::after {
    border: none !important;
    box-shadow: inherit !important;
  }
  .ant-input__checkbox {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: 11px !important;
    font-weight: 700;
    height: 38px !important;
    a {
      color: #fff;
    }
  }
  .contactme__textarea-form-item {
    margin-bottom: 6px;
  }
  .contactme__checkbox-form-item {
    margin-bottom: 5px;
  }
}

