@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";
@import "../../../../../scss/animations";

.contact-me {
  position: relative;
  max-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: $media-breakpoint-down-sm) {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 2px;
  }
  .ant-form-item {
    letter-spacing: 0.05em;
    border-radius: 5px;
    border: 0;
    &-input-content {
      &:hover,
      &:active,
      &:focus {
        @include boxShadowLg();
      }
    }
    input,
    textarea {
      border-radius: 5px;
      color: $font-primary-extra-dark;
      font-size: 1.1em;
      border: 1px solid #fff !important;
      &:hover,
      &:active,
      &:focus {
        @include boxShadowLg();
        border: 1px solid #fff !important;
      }
    }
    input {
      padding: 3px 0;
      padding-left: 8px;
    }
    textarea {
      border-radius: 5px;
      margin: 0;
      padding: 4px;
      padding-left: 10px;
    }
    .error {
      color: #fff !important;
      border: 1px solid red !important;
      &:hover,
      &:focus {
      border: 1px solid red !important;
      }
    }
    .success {
      background-color: #fff;
      border: 1px solid #fff !important;
      &:hover,
      &:focus {
      border: 1px solid #fff !important;
      }
    }
    .ant-input {
      &-affix-wrapper {
        background-color: transparent;
        border: 0;
        border-radius: 5px !important;
        padding: 0px;
        @include boxShadowMd();
        &-textarea-with-clear-btn {
          padding: 0 !important;
        }
      }
    }
  }
  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    @include titleH3();
    color: #fff;
    span {
      @include rotateInfiniteAlternate30();
      font-size: 1.5em;
    }
  }
  button {
    @include buttonPrimaryLight();
    text-transform: uppercase;
    width: 100%;
    height: 100%;
  }
}
