@import "../../../../../scss/variables";
@import "../../../../../scss/mixins";
@import "../../../../../scss/animations";

.contact-me {
  position: relative;
  max-width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  @media (max-width: $media-breakpoint-down-sm) {
    padding-right: 5px;
    padding-left: 5px;
    margin-top: 2px;
  }
  .ant-form-item {
    letter-spacing: 0.05em;
    border-radius: 5px;
    border: 0;
    &-input-content {
      &:hover,
      &:active,
      &:focus {
        @include boxShadowLg();
      }
    }
    input,
    textarea {
      border-radius: 5px;
      color: $font-primary-extra-dark;
      font-size: 1.1em;
      border: 0 !important;
      &:hover,
      &:active,
      &:focus {
        @include boxShadowLg();
        border: 0 !important;
      }
    }
    input {
      padding: 3px 0;
      padding-left: 3px;
    }
    textarea {
      margin: 0;
      padding: 4px;
      padding-left: 10px;
    }
    .ant-input-affix-wrapper {
      border: 0 !important;
      border-radius: 5px !important;
      padding: 1px;
      padding-left: 5px;
      @include boxShadowMd();
      &-textarea-with-clear-btn {
        padding: 0 !important;
      }
    }
  }
  h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
    span {
      @include rotateInfiniteAlternate30();
      font-size: 1.5em;
    }
  }
  button {
    @include buttonPrimaryLight();
    text-transform: uppercase;
    width: 100%;
    height: 100%;
  }
}
.ant-message-notice {
  background-color: rgba(0, 0, 0, 0.3);
  margin-top: -10px;
  height: 100vh;
}
